# Node
node_modules
npm-debug.log

# TypeScript
src/
tsconfig.json

# Output
dist/ # (se você estiver buildando dentro do Docker, pode remover isso)

# Configs e sensíveis
.env
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
